nav[role="main-navigation"] {
    @mixin navStyles {
        @apply .inline-flex .mr-2 .py-4 .px-4 .font-normal;
    }
    .nav-item {
        @include navStyles;
        &:hover {
            @apply .grey-gradient-invert .cursor-pointer;
        }
    }
    .nav-item-small {
        @include navStyles;
        @apply .relative;
        &:hover {
            @apply .grey-gradient-invert .cursor-pointer;
        }
        &:hover .dropdown-menu {
            @apply .block;
        }

        .dropdown-menu {
            @apply .absolute .w-48 .bg-white .border-b .border-l .border-r .border-grey-light .shadow .z-30;
            top: 100%;
            left: 0;
            margin: 0;
            display: none;
            list-style: none;
            padding: 0;
            li {
                @apply .py-2 .px-2;
                &:hover {
                    @apply .bg-grey-light;
                }
            }
        }
    }
    .nav-item-large {
        @include navStyles;
        &:hover {
            @apply .grey-gradient-invert;
        }
        &:hover .dropdown-menu {
            @apply .block;
        }

        .dropdown-menu {
            @apply .bg-white .border-b .border-l .border-r .border-grey-light .shadow .z-30;
            top: 100%;
            left: 0;
            margin: 0;
            display: none;
            list-style: none;
            padding: 0;
        }
    }
}
