$social-media-icon-width: 39px;
$social-media-icon-height: 39px;

.social-media-facebook {
    @apply .cursor-pointer;
    width: $social-media-icon-width;
    height: $social-media-icon-height;
    background-image: url('https://flyuk.aero/en/images/social_icons/fb.png');
    &:hover {
        background-image: url('https://flyuk.aero/en/images/social_icons/fb_hover.png');
    }
}

.social-media-twitter {
    @apply .cursor-pointer;
    width: $social-media-icon-width;
    height: $social-media-icon-height;
    background-image: url('https://flyuk.aero/en/images/social_icons/tw.png');
    &:hover {
        background-image: url('https://flyuk.aero/en/images/social_icons/tw_hover.png');
    }
}

.social-media-youtube {
    @apply .cursor-pointer;
    width: $social-media-icon-width;
    height: $social-media-icon-height;
    background-image: url('https://flyuk.aero/en/images/social_icons/yt.png');
    &:hover {
        background-image: url('https://flyuk.aero/en/images/social_icons/yt_hover.png');
    }
}
